<% lacks.each do |ingredient| %>
  <div class="c_box__week_lack_food">
    <% amounts = (ingredient[2] == 'option' ? '' : "#{ingredient[1].regular_amount(ingredient[2]).to_s.rjust(3, '-')}　#{ingredient[2].rjust(3, '　')}") %>
    <p><%= ingredient[0].rjust(8, '　') + '　　' + amounts %></p>
  </div>
<% end %>