<div class="b_field__fridge_item">
  <div>
    <%= f.collection_select "fridge_items[value_#{value_num}[id_unit]]", foods, :id_unit, :name_unit, include_blank: genre %>
    <%= f.select "fridge_items[value_#{value_num}[amount]]", amounts, include_blank: '数量' %>
    <input type="button" value="＋" class="add a_input__add">
    <input type="button" value="－" class="delete a_input__add">
  </div>
</div>
