<h2 class="b_center__lack">不足材料一覧</h2><br/>
<% if lack_ingredients.size > 0 %>
  <table class="table c_table__lack">
    <thead>
      <tr class="active">
        <th style="width: 20%;">材料</th>
        <th style="width: 10%;">数量</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>
    <tbody>
      <% lack_ingredients.each do |ingredient| %>
      <tr>
        <td class="b_center__lack"><%= ingredient[0] %></td>
        <% if ingredient[2] != 'option' %>
          <td class="b_center__lack"><%= ingredient[1].regular_amount(ingredient[2]) %></td>
          <td class="b_center__lack"><%= ingredient[2] %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>